/* Media query example on background color changes, by minimizing the page */
body {
    background-color:antiquewhite;
    background-size: cover;
  }
  @media screen and (min-width: 993px) {
    body {
      background-color:aliceblue;
      background-size: cover;
    }
  }
  
  .brand-title {
    font-size: 2.5em;
    font-family: arial black;
    color: #e3f2fd;
  }
  
  .navbar-toggler {
    float: right;
    margin-top: -50px
  }
  
  section {
    margin-top: 3%;
    margin-bottom: 5%;
  }
  
  .intro-img {
    max-width: 58%;
    border: solid;
    border-color: cyan;
    border-width: 4px;
  } 
  
  .card {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-body {
    background-color: #29bdc1;
    border: solid;
    border-width: 2px;
  }
  h5 {
    text-decoration: underline;
  }